{#
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}

{%- extends "invenio_accounts/login_user.html" %}

{%- block form_outer %}
  <div class="social-signup">
    <a href="{{[url_for('shibboleth_authenticator.login', remote_app='hzdr'), '?next=', request.args.get('next', '/') | urlencode] | join('')}}" class="btn btn-default btn-lg btn-block"><img src="{{ url_for('static', filename='img/hzdr_ico.svg')}}" height="18px"> {{_('Log in with HZDR')}}</a>
  </div>
  <p><h5 align="center"><a data-toggle="collapse" data-target="#collapse_login">Administration only <i class="fa fa-angle-down" aria-hidden="true"></i></a></h5></p>
  <div id="collapse_login" class="collapse">
    {{ super () }}
  </div>
{% endblock %}

{%- block recoverable %}
<footer>{{super()}}
</footer>
{%- endblock %}
