{#
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}
<footer class="footer">
  <div class="menu-wrapper">
    <div class="container">
      <div class="row footer-menu">
        <div class="col-xs-12 col-md-8">
          <div class="row">
            <div class="col-xs-3 col-md-2">
              <h5>{{_('About')}}</h5>
              <ul class="list-unstyled">
                <li><a href="https://www.hzdr.de/db/Cms?pNid=139"><i class="fa fa-external-link"></i> {{_('About HZDR')}}</a></li>
                <li><a href="https://rodare.hzdr.de/principles">{{_('Principles')}}</a></li>
                <li><a href="https://rodare.hzdr.de/infrastructure">{{_('Infrastructure')}}</a></li>
                <li><a href="https://rodare.hzdr.de/contact">{{_('Contact')}}</a></li>
                <li><a href="https://rodare.hzdr.de/policies">{{_('Policies')}}</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col-md-2">
              <h5>{{_('Help')}}</h5>
              <ul class="list-unstyled">
                <li><a href="https://rodare.hzdr.de/faq">{{_('FAQ')}}</a></li>
                <li><a href="https://rodare.hzdr.de/new">{{_("News")}}</a></li>
                <li><a href="{{ url_for('zenodo_support.support')}}">{{_('Support')}}</a></li>
                <li><a href="https://rodare.hzdr.de/status">{{_('Status')}}</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col-md-2">
              <h5>{{_('Contribute')}}</h5>
              <ul class="list-unstyled">
                <li><a href="https://gitlab.hzdr.de/rodare/rodare"><i class="fa fa-external-link"></i> {{_('GitLab')}}</a></li>
              </ul>
            </div>
            <div class="col-xs-3 col-md-2">
              <h5>{{_('Follow us')}}</h5>
              <ul class="list-inline">
                <li><a href="https://twitter.com/hzdr_dresden"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                <li><a href="https://de-de.facebook.com/Helmholtz.Dresden/"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="pull-right-md text-center-sm text-center-xs">
            <h5>{{_('Member of')}}</h5>
            <ul class="list-inline">
              <li><a href="https://www.helmholtz.de"><img src="{{ url_for('static', filename='img/hgf.svg') }}" width="200"/></a></li>
              <li><a href="http://www.dresden-concept.de"><img src="{{ url_for('static', filename='img/dd-concept.svg') }}" width="110"/></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <div class="pull-right-sm text-center-xs">
          <ul class="list-inline">
            <li><a href="https://www.hzdr.de/impressum">{{_('Imprint')}}</a></li>
            <li><a href="https://rodare.hzdr.de/privacy">{{_('Privacy Policy')}}</a></li>
            <li><a href="https://rodare.hzdr.de/terms">{{_('Terms of Use')}}</a></li>
            <li><a href="{{ url_for('zenodo_support.support')}}">{{_('Support')}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6 text-center-xs">
        <p>Powered by <a href="https://www.hzdr.de">HZDR</a> &amp; <a href="http://inveniosoftware.org">Invenio</a></p>
      </div>
    </div>
  </div>
</footer>
