<ul>
  <li><strong>{{_('Open Access to HZDR research data.')}}</strong> &mdash; {{_('publish your HZDR research output on the HZDR data publication platform Rodare.')}}</li>
  <li><strong>{{_('Make your research data citeable, discoverable and visible.')}}</strong> &mdash; {{_('uploads get a Digital Object Identifier (DOI) to make them easily and uniquely citeable. Uploads can be harvested via a OAI-PHM interface.')}}</li>
  <li><strong>{{_('Improve research reproducibility.')}}</strong> &mdash; {{_('allow other researchers to reproduce your research results by publishing all associated research data via Rodare.')}}</li>
  <li><strong>{{_('Login')}}</strong> &mdash; {{_('with your existing HZDR account.')}}</li>
  <li><strong>Integrated with central storage servers</strong> — your data already resides in the HZDR data center? Use the background upload feature and don't care about web uploads via your browser.</li>
</ul>
