{#
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}

{% extends "invenio_communities/curate.html" %}

{%- block javascript -%}
  {% assets "zenodo_theme_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  {% assets "zenodo_search_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  <script type="text/javascript">
  require([
    "node_modules/angular/angular",
    "node_modules/angular-loading-bar/build/loading-bar",
    "node_modules/invenio-search-js/dist/invenio-search-js",
    "js/invenio_communities/module",
    "js/zenodo/module"
    ], function() {
      angular.element(document).ready(function() {
        angular.bootstrap(document.getElementById("invenio-communities-search"), [
            'invenioCommunities',
            'invenioSearch',
            'zenodo',
            'angular-loading-bar',
            'mgcrea.ngStrap.tooltip',
          ]
        );
      });
    }
  );
  </script>
{%- endblock javascript -%}
{%- block search_results %}
<invenio-search-results-provisional
 template="{{ url_for('static', filename=config.COMMUNITIES_JSTEMPLATE_RESULTS_CURATE) }}"
 community-curation-endpoint="{{ url_for('zenodo_communities.curate', community_id=community.id) }}">
</invenio-search-results-provisional>
{%- endblock search_results %}
