{#
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}

<h4>Want your upload to appear in this community?</h4>
<ul>
  <li>Click the button above to upload straight to this community.</li>
  <li>The community curator is notified, and will either accept or reject your upload (see community curation policy above).</li>
  <li>{{ _("If your upload is rejected by the curator, it will still be available on %(name)s, just not in this community.", name=config.THEME_SITENAME) }}</li>
</ul>
