{#
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}

<p><a href="{{ community.upload_url }}" class="btn btn-success btn-lg btn-block">
  <i class="fa fa-upload"></i> New upload
</a></p>
<div class="well">{% include "zenodo_theme/communities/portalbox_upload.html" %}</div>
<div class="well">{% include "invenio_communities/portalbox_main.html" %}</div>
