{#
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}

{%- extends "invenio_deposit/edit.html" %}

{%- block javascript %}
  <script type="text/javascript">
  // Configuration for invenio_deposit_dependencies_js libraries
  window.CKEDITOR_BASEPATH = '{{url_for("static", filename="node_modules/ckeditor/")}}';
  </script>
  {% assets "zenodo_deposit_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  {% assets "zenodo_theme_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  <script type="text/javascript">

    angular.element(document).ready(function() {

      // Set CKEditor global settings
      window.CKEDITOR.config.mathJaxLib = '{{config.THEME_MATHJAX_CDN}}';

      // Base Invenio Records angular module
      var app = angular.module('invenioRecords');
      app.requires.push('invenioRecords.providers');

      // Configure OpenAIRE types and communities
      app.config(['openAIREProvider', function(openAIREProvider){
        openAIREProvider.setCommunities({{current_openaire.openaire_communities|tojson}});
        openAIREProvider.setCommunitiesMapping({{current_openaire.inverse_openaire_community_map|tojson}});
      }]);

      angular.bootstrap(
        document.getElementById('invenio-records'), [
          'invenioRecords', 'schemaForm', 'mgcrea.ngStrap',
          'mgcrea.ngStrap.modal', 'pascalprecht.translate', 'ui.sortable',
          'ui.select', 'mgcrea.ngStrap.select', 'mgcrea.ngStrap.datepicker',
          'mgcrea.ngStrap.helpers.dateParser', 'mgcrea.ngStrap.tooltip',
          'invenioFiles'
        ]
      );
    });
  </script>
{%- endblock javascript %}

{%- set is_published = record.is_published and record.is_published() %}
{%- set pid_versioning = (record.conceptrecid|pid_from_value|to_versioning_api(child=False)) if record.conceptrecid else None %}
{%- set is_local_doi = "doi" in record and (record.doi|doi_locally_managed) %}
{%- set has_conceptdoi = "conceptdoi" in record %}
{%- set new_version_depid = pid_versioning and pid_versioning.draft_child_deposit %}
{%- set has_new_version_deposit = new_version_depid and (pid_versioning.children.all()|length > 0) %}
{%- set is_new_version = has_new_version_deposit and new_version_depid == pid  %}
{%- set has_versioning_permissions = is_published and (current_user|has_record_perm(record, 'newversion')) %}

{%- set deposit_template_params = {
  'messages': config.DEPOSIT_UI_RESPONSE_MESSAGES,
  'is_published': is_published or False,
  'is_local_doi': is_local_doi or False,
  'has_conceptdoi': has_conceptdoi or False,
  'is_new_version': is_new_version or False,
  'has_versioning_permissions': has_versioning_permissions or False,
  'has_new_version_deposit': has_new_version_deposit or False,
  'newversionmodal_template': url_for('static', filename='templates/zenodo_deposit/neweversionmodal.html'),
  'upgradeversioningmodal_template': url_for('static', filename='templates/zenodo_deposit/upgradeversioningmodal.html')
} %}


{# Show banner alert if there's a new verion draft #}
{%- if pid_versioning and pid_versioning.exists and pid_versioning.draft_child_deposit and pid_versioning.draft_child_deposit != pid %}
  {%- set draft_deposit_url = url_for('invenio_deposit_ui.depid', pid_value=pid_versioning.draft_child_deposit.pid_value) %}
  {%- set draft_deposit_msg %}
    There is a new version of the upload being edited <a class="alert-link" href="{{draft_deposit_url}}">here</a>.
  {%- endset %}
  {%- set banner_messages = banner_messages|d([]) + [('warning', draft_deposit_msg|safe)] %}
{%- endif %}


{%- block page_body %}
<div class="container">
  <div id="invenio-records">
  <invenio-files-uploader
      method="PUT"
      endpoint="{{config.DEPOSIT_FILES_API}}"
      {%- if pid %}
      action="{{ config.DEPOSIT_RECORDS_API|format(pid_value=pid.pid_value) }}"
      {%- else %}
      initialization="{{ config.DEPOSIT_SEARCH_API }}"
      {%- endif %}
      files='{{record|tofilesjs|tojson}}'
      >
    <invenio-records
      {%- if pid %}
      initialization="{{ config.DEPOSIT_RECORDS_API.format(pid_value=pid.pid_value) }}"
      links='{{pid|tolinksjs(record)|tojson}}'
      {%- else %}
      initialization="{{ config.DEPOSIT_SEARCH_API }}"
      {%- endif %}
      extra-params='{"headers":{"Content-Type": "application/json"}}'
      template-params='{{ deposit_template_params | tojson }}'
      record='{{ record | serialize_record(pid, "deposit_formjson_v1") or record | tojson }}'
      form="{{ url_for('static', filename=config.DEPOSIT_DEFAULT_SCHEMAFORM) }}"
      schema="{{ url_for('invenio_jsonschemas.get_schema', schema_path=config.DEPOSIT_FORM_JSONSCHEMA) }}"
    >
      <invenio-records-alert
        template="{{ url_for('static', filename='templates/zenodo_deposit/alert.html') }}">
      </invenio-records-alert>
      <invenio-records-actions
        template="{{ url_for('static', filename=config.DEPOSIT_UI_JSTEMPLATE_ACTIONS) }}">
      </invenio-records-actions>
      {%- if is_published %}
      <h1>Edit upload</h1>
      {%- elif is_new_version %}
      <h1>New version</h1>
      {%- else %}
      <h1>New upload</h1>
      {%- endif %}
      {%- if community %}
      <h4 class="text-muted">{{community.title}}</h4>
      {%- endif %}
      <p class="text-muted"><small><strong>Instructions:</strong> (i) Upload minimum one file or fill-in required fields (marked with a <span class="field-required">red star</span> ). (ii) Press "Save" to save your upload for editing later. (iii) When ready, press "Publish" to finalize and make your upload public.</small>
      </p>
      <invenio-files-list
        template="{{ url_for('static', filename=config.DEPOSIT_UI_JSTEMPLATE_FILESLIST) }}">
      </invenio-files-list>
      <invenio-records-form
        form-templates='{{ config.DEPOSIT_FORM_TEMPLATES | tojson }}'
        form-templates-base="{{ url_for('static', filename=config.DEPOSIT_FORM_TEMPLATES_BASE) }}"
        template="{{ url_for('static', filename=config.DEPOSIT_UI_JSTEMPLATE_FORM) }}">
      </invenio-records-form>
      <invenio-records-actions
        template="{{ url_for('static', filename=config.DEPOSIT_UI_JSTEMPLATE_ACTIONS) }}">
      </invenio-records-actions>
    </invenio-records>

    <div class="modal fade" id="sftpModal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title">Background upload <a href="https://rodare.hzdr.de/faq#backgroundupload"><i class="fa fa-question-circle" aria-hidden="true"></i></a></h4>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li role="presentation" class="active">
                <a href="#1" aria-controls="1" role="tab" data-toggle="tab">SFTP</a>
              </li>
              <li role="presentation">
                <a href="#2" aria-controls="2" role="tab" data-toggle="tab">URL</a>
              </li>
            </ul>
            <div class="panel panel-default panel-without-top">
              <div class="panel-body">
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="1">
                    <p>Rodare allows you to upload files via SFTP from registered servers.
                      If your files already reside on a storage location which is accessible
                      via one of the registered servers you can trigger an upload via the
                      file browser. Navigate to the file and click upload file.
                    </p>
                    <p>
                      <a target="_blank" rel="noopener noreferrer" href="https://rodare.hzdr.de/faq#backgroundupload">Learn more</a> about the background upload feature.</p>
                    {% for remote_server in remote_servers %}
                    {% if remote_server.connected %}
                    {% set active = 'false' %}
                    {% set color = 'label-success' %}
                    {% else %}
                    {% set active = 'true' %}
                    {% set color = 'label-danger' %}
                    {% endif %}
                    <fieldset class="schema-form-fieldset" ng-init="collapse_{{remote_server.name}} = {{ active }}">
                      <div class="panel panel-default">
                        <div class="panel-heading" ng-click="collapse_{{remote_server.name}} = !collapse_{{remote_server.name}}">
                          <a class="panel-toggle ng-binding">
                            <span class="label {{ color }}">{{ remote_server.server_address }}</span>
                            <i class="fa fa-spinner fa-spin fa-fw" ng-show="fesloading"></i>
                            <span class="sr-only" ng-show="fesLoading">Loading...</span>
                            <span class="pull-right ng-hide" ng-show="collapse_{{remote_server.name}}">
                              <i class="glyphicon glyphicon-chevron-right"></i>
                            </span>
                            <span class="pull-right" ng-hide="collapse_{{remote_server.name}}">
                              <i class="glyphicon glyphicon-chevron-down"></i>
                            </span>
                          </a>
                        </div>
                        <div class="panel-body" ng-hide="collapse_{{remote_server.name}}">
                          {% if remote_server.connected %}
                          <file-browser servername="{{ remote_server.name }}"></file-browser>
                          {% else %}
                          <p class="text-danger">You did not link your account with {{ remote_server.name }}
                            yet.</p>
                          <p class="text-info">
                            <a href="{{ url_for('invenio_uploadbyurl_settings.index') }}">
                            <i class="fa fa-link" aria-hidden="true"></i> Link your account here.</a></p>
                          {% endif %}
                        </div>
                      </div>
                    </fieldset>
                    {% endfor %}
                  </div>
                  <div role="tabpanel" class="tab-pane" id="2">
                    <upload-by-url></upload-by-url>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </invenio-files-uploader>
  </div>
</div>
{%- endblock %}
