{#
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}

{%- extends "invenio_deposit/index.html" %}

{%- block css %}
    {% assets "invenio_deposit_css" %}<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
    {% assets "zenodo_theme_css" %}<link href="{{ ASSET_URL }}" rel="stylesheet">{% endassets %}
{%- endblock css %}

{%- block javascript %}
  {% assets "zenodo_theme_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  {% assets "zenodo_search_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  <script type="text/javascript">
  require([
    "node_modules/angular/angular",
    "node_modules/angular-loading-bar/build/loading-bar",
    "node_modules/invenio-search-js/dist/invenio-search-js",
    "js/zenodo/module"
    ], function() {
      angular.element(document).ready(function() {
        angular.bootstrap(document.getElementById("invenio-search"), [
            'invenioSearch',
            'zenodo',
            'angular-loading-bar',
            'mgcrea.ngStrap.tooltip',
          ]
        );
      });
    }
  );
  </script>
{%- endblock javascript %}

{%- block search_results %}
<invenio-search-results
  class="list-group"
  template="{{ url_for('static', filename='templates/zenodo_deposit/results.html') }}">
</invenio-search-results>
{% endblock %}

{%- block search_loading %}{%- endblock search_loading %}
{%- block search_facets %}
  <invenio-search-facets
    template="{{ url_for('static', filename='templates/zenodo_deposit/selectstatus.html') }}">
  </invenio-search-facets>
{%- endblock search_facets %}
