<div class="deposit-actions well">
  <ul class="list-inline text-right">
    <li class="pull-left">
      <button
        class="btn btn-danger"
        ng-hide="recordsVM.invenioRecordsArgs.templateParams.is_published"
        ng-disabled="recordsVM.invenioRecordsLoading || !recordsVM.invenioRecordsEndpoints.self"
        ng-attr-title="{{(recordsVM.invenioRecordsLoading || !recordsVM.invenioRecordsEndpoints.self) && 'Record was not saved yet.' || 'Delete the deposit'}}"
        ng-click="recordsVM.actionHandler(['self', 'DELETE'], recordsVM.invenioRecordsArgs.templateParams.is_new_version ? 'latest_html' : '/deposit')">
        <i class="fa fa-trash-o fa-inverse"></i> {{ recordsVM.invenioRecordsArgs.templateParams.is_new_version ? 'Discard version' : 'Delete' }}
      </button>
    </li>
    <li class="pull-left">
      <button
        ng-disabled="recordsVM.invenioRecordsLoading"
        ng-hide="!recordsVM.invenioRecordsArgs.templateParams.is_published"
        class="btn btn-warning"
        ng-click="recordsVM.actionHandler(['discard', 'POST'], 'record_html')">
        <i class="fa fa-times icon-white"></i> Discard changes
      </button>
    </li>
    <li ng-show="recordsVM.invenioRecordsLoading"><i class="fa fa-spinner fa-pulse"></i></li>
    <li>
      <button
        ng-disabled="depositionForm.$invalid || recordsVM.invenioRecordsLoading"
        class="btn btn-default"
        ng-attr-title="{{(depositionForm.$invalid || recordsVM.invenioRecordsLoading) && 'You need to fill-in all required fields first' || 'Save the changes'}}"
        ng-click="recordsVM.actionHandler(['self', 'PUT'])">
        <i class="fa fa-file-o"></i> Save
      </button>
    </li>
    <li>
      <button
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#warningModal"
        ng-hide="recordsVM.invenioRecordsArgs.templateParams.is_published || !recordsVM.invenioRecordsModel.pub_id"
        ng-disabled="depositionForm.$invalid || depositionForm.$dirty || recordsVM.invenioRecordsLoading"
        ng-attr-title="{{(depositionForm.$invalid || depositionForm.$dirty || recordsVM.invenioRecordsLoading) && 'You need to save your deposit first' || 'Publish the record'}}">
        <i class="fa fa-check"></i> Publish
      </button>
    </li>
    <li>
      <button
        class="btn btn-primary"
        ng-hide="!recordsVM.invenioRecordsArgs.templateParams.is_published || !recordsVM.invenioRecordsModel.pub_id"
        ng-disabled="depositionForm.$invalid || depositionForm.$dirty || recordsVM.invenioRecordsLoading"
        ng-attr-title="{{(depositionForm.$invalid || depositionForm.$dirty || recordsVM.invenioRecordsLoading) && 'You need to save your deposit first' || 'Publish the record'}}"
        ng-click="recordsVM.actionHandler(['publish', 'POST'], 'record_html')">
        <i class="fa fa-check"></i> Publish
      </button>
    </li>
    <li>
      <button
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#approvalWarningModal"
        ng-hide="recordsVM.invenioRecordsArgs.templateParams.is_published || recordsVM.invenioRecordsModel.pub_id"
        ng-disabled="depositionForm.$invalid || depositionForm.$dirty || recordsVM.invenioRecordsLoading"
        ng-attr-title="{{(depositionForm.$invalid || depositionForm.$dirty || recordsVM.invenioRecordsLoading) && 'You need to save your deposit first' || 'Publish the record'}}">
        <i class="fa fa-external-link"></i> Register in HZDR publication repository
      </button>
    </li>
    <li>
      <button
        class="btn btn-primary"
        ng-hide="!recordsVM.invenioRecordsArgs.templateParams.is_published || recordsVM.invenioRecordsModel.pub_id"
        ng-disabled="depositionForm.$invalid || depositionForm.$dirty || recordsVM.invenioRecordsLoading"
        ng-attr-title="{{(depositionForm.$invalid || depositionForm.$dirty || recordsVM.invenioRecordsLoading) && 'You need to save your deposit first' || 'Publish the record'}}"
        ng-click="recordsVM.actionHandler(['publish', 'POST'], 'record_html')">
        <i class="fa fa-check"></i> Register in HZDR publication repository
      </button>
    </li>
  </ul>
</div>

<div class="modal fade" id="warningModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <strong>Once the record is published you will no longer be able to change the files in this upload.</strong>
        <br />
        This is because a Digital Object Identifier (DOI) will be registered immediately after publishing.
        You will still be able to update the record's metadata later.
        <br />
        <br />
        If you only want to create a test upload, please do so on <a href="https://rodare-test.hzdr.de">Rodare test instance</a>.
        <br />
        <br /> By clicking publish you have read and agree to the
        <a href="https://rodare.hzdr.de/terms">Terms of Use</a>.
        <strong>You especially make sure that your content is suitable for open dissemination,
          and that it complies with these terms and applicable laws, including, but
          not limited to, privacy, data protection and intellectual property rights.</strong>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button
          class="btn btn-primary"
          data-dismiss="modal"
          ng-disabled="depositionForm.$invalid || depositionForm.$dirty || recordsVM.invenioRecordsLoading"
          ng-attr-title="{{(depositionForm.$invalid || depositionForm.$dirty || recordsVM.invenioRecordsLoading) && 'You need to save your deposit first' || 'Publish the record'}}"
          ng-click="recordsVM.actionHandler(['publish', 'POST'], 'record_html')">
          <i class="fa fa-check"></i> I understand
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="approvalWarningModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <strong>Once you click, you will be redirected to the HZDR Publications Repository
          to finally register your record.</strong>
        <br />After your record is registered in HZDR Publications Repository, the upload
        will automatically be published. Once it is finally published you will no
        longer be able to change the files. This is because a Digital Object Identifier
        (DOI) will be registered immediately after publishing. You will still be
        able to update the record's metadata later.
        <br />
        <br />If you only want to create a test upload, please do so on
        <a href="https://rodare-test.hzdr.de">Rodare test instance</a>.
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a ng-href="{{recordsVM.invenioRecordsEndpoints.approval}}" class="btn btn-primary"
           ng-disabled="depositionForm.$invalid || depositionForm.$dirty || recordsVM.invenioRecordsLoading"
           ng-attr-title="{{(depositionForm.$invalid || depositionForm.$dirty || recordsVM.invenioRecordsLoading) && 'You need to save your deposit first' || 'Publish the record'}}">
          <i class="fa fa-external-link"></i> I understand </a>
      </div>
    </div>
  </div>
</div>
