<div class="alert alert-danger" role="alert" ng-show="alert">
  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
  <span class="sr-only">Error:</span>
  {{ alert }}
</div>
<div class="alert alert-info alert-dismissible" role="alert" ng-show="dirs.length > showLimit">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Displaying first {{ showLimit }} elements. Search for your element or expand the list.
</div>
<button class="btn btn-info" ng-click="updateFileBrowser()" ng-show="!dirs.length"><i class="fa fa-files-o" aria-hidden="true"></i> Browse files</button>
<div class="well-sm" ng-show="browserLoading">
  <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>
<div class="row" ng-show="dirs.length">
  <div class="col-sm-9">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Filter by name..." name="search" ng-model="search" ng-change="filterDirs()">
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <select class="form-control" ng-model="elementsPerPage" ng-change="createPages()" convert-to-number>
        <option value="15" ng-selected="elementsPerPage == 15">15 elements per page</option>
        <option value="30" ng-selected="elementsPerPage == 30">30 elements per page</option>
        <option value="60" ng-selected="elementsPerPage == 60">60 elements per page</option>
      </select>
    </div>
  </div>
</div>
<div class="list-group" ng-if="dirs.length">
  <a ng-repeat="dir in pagedDirs[currentPage]" type="button" role="button" class="list-group-item" ng-click="dir.isdir && !browserLoading && updateFileBrowser(dir.endpoint)" ng-class="{disabled: !dir.isdir || browserLoading}">
    <i class="fa fa-folder text-info" aria-hidden="true" ng-show="dir.isdir"></i>
    <button class="btn btn-info btn-xs btn-space-left pull-right" type="button" role="button" ng-click="uploadViaSftp(dir.path)" ng-disabled="browserLoading" ng-hide="dir.isdir"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload file</button>
    <span class="badge" ng-hide="dir.isdir">{{ dir.size }}</span>
    <i class="fa fa-file-o text-info" aria-hidden="true" ng-hide="dir.isdir"></i>
    &nbsp;<strong>{{ dir.short_path }}</strong>
  </a>
</div>
<nav aria-label="File browser page navigation" ng-show="pagedDirs.length">
  <div class="text-center">
    <ul class="pagination">
      <li ng-class="{disabled: currentPage == 0}">
        <a type="button" role="button" ng-click="prevPage()" aria-label="Previous">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
      </li>
      <li ng-repeat="i in pagesRange() track by $index" ng-class="{active: i === currentPage, disabled: i === -1}"><a type="button" role="button" ng-click="setPage(i)">{{ i === -1 ? '..' : i + 1 }}</a></li>
      <li ng-class="{disabled: currentPage === pagedDirs.length - 1}">
        <a type="button" role="button" ng-click="nextPage()" aria-label="Next">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<small ng-show="dirs.length >= 10000">* The filebrowser will collect at most 10.000 elements within one directory.</small>
