{#-
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}


{%- macro render_form_label(field, size=2, show=True) %}
{%- if size %}<div class="col-md-{{ size }}">{%- endif %}
{% if show %}
  <label class="control-label" for="{{field.label.field_id}}">{{ field.label.text }}</label>
{% endif %}
{%- if size %}</div>{%- endif %}
{%- endmacro %}

{%- macro render_form_input(field, size=4, extras={}) %}
{%- if size %}<div class="col-md-{{ size }}">{%- endif %}
{% set _extras = {'class_': 'form-control'} %}
{% set _ = _extras.update(extras) %}
{{field(**_extras)}}
{%- if field.description %}
  <p class="text-muted field-desc"><small>{{field.description|safe}}</small></p>
{%- endif %}
<span id="error-{{ field.name }}" class="text-danger help-inline">
{%- for error in field.errors %}
  {{ error }}
  {%- if not loop.last %}<br/>{%- endif %}
{%- endfor %}
</span>
{%- if size %}</div>{%- endif %}

{%- endmacro %}

{%- macro render_form_field(field, label_size=2, input_size=4, input_extras={}, label=True) %}
<div class="form-group field-{{ field.name }}{% if field.errors %} has-error {% endif %}">
  {{ render_form_label(field, label_size, label) }}
  {{ render_form_input(field, input_size, input_extras) }}
</div>
{%- endmacro %}
