{#
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}

{%- macro altmetric_badge(doi, badge_type='donut', badge_details='left', hide_no_mentions=True, css_class='', with_script=False) %}
<div class="altmetric-embed{% if css_class %} {{css_class}}{% endif%}" data-badge-type="{{badge_type}}" data-badge-details="{{badge_details}}" data-hide-no-mentions="true" data-doi="{{doi}}"></div>
{%- if with_script %}
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
{%- endif %}
{%- endmacro %}
