{#
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}
<h4>{{_('Export')}}</h4>
<ul class="list-inline">
  <li><a href="{{ url_for('invenio_records_ui.recid_export', pid_value=pid.pid_value, format='hx') }}">BibTeX</a></li>
  <li><a href="{{ url_for('invenio_records_ui.recid_export', pid_value=pid.pid_value, format='csl') }}">CSL</a></li>
  <li><a href="{{ url_for('invenio_records_ui.recid_export', pid_value=pid.pid_value, format='dcite4') }}">DataCite</a></li>
  <li><a href="{{ url_for('invenio_records_ui.recid_export', pid_value=pid.pid_value, format='xd') }}">Dublin Core</a></li>
  <li><a href="{{ url_for('invenio_records_ui.recid_export', pid_value=pid.pid_value, format='json') }}">JSON</a></li>
  <li><a href="{{ url_for('invenio_records_ui.recid_export', pid_value=pid.pid_value, format='schemaorg_jsonld') }}">JSON-LD</a></li>
  <li><a href="{{ url_for('invenio_records_ui.recid_export', pid_value=pid.pid_value, format='xm') }}">MARCXML</a></li>
  <li><a href="https://www.mendeley.com/import/?url={{ url_for('invenio_records_ui.recid', pid_value=pid.pid_value, _external=True) }}"><i class="fa fa-external-link"></i> Mendeley</a></li>
</ul>
