{#
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}
{%- set state = record.access_right|accessright_category(record.embargo_date, success='default') %}
{%- set files = record.files if current_user|has_record_perm(record, 'read-files') else [] %}
{%- if record._files -%}
<div class="panel panel-{{state}}" id="files">
  <div class="panel-heading">
    <a class="panel-toggle" data-toggle="collapse" href="#collapseTwo">
      {{ _("Files") }}
      <span class="pull-right show-on-collapsed"><i class="fa fa-chevron-right"></i></span>
      <span class="pull-right hide-on-collapsed"><i class="fa fa-chevron-down"></i></span>
    </a>
    <small class="text-muted">{% if files %} ({{files|sum(attribute='size')|filesizeformat}}){% endif %}</small>
  </div>
  <div class="collapse in" id="collapseTwo">
  {% if record.access_right|accessright_get(record.embargo_date) != 'open' %}
    {% set title = record.access_right|accessright_title(record.embargo_date) %}
    {% set icon = record.access_right|accessright_icon(record.embargo_date) %}
    {% set description = record.access_right|accessright_description(record.embargo_date) %}
    {% set access_request_url = url_for('invenio_records_ui.recid_access_request', pid_value=record.recid) %}
    <div class="panel-body">
      <h5><i class="fa {{ icon -}}"></i> {{ title -}}</h5>
      <p><small class="text-muted">{{- description -}}</small></p>
    </div>
  {% endif %}
  {%- if files -%}
  <div style="overflow-x:auto;">
    <table class="table table-striped" >
    <thead>
      <tr class="">
        <th>{{_('Name')}}</th>
        <th>{{_('Size')}}</th>
      </tr>
    </thead>
    <tbody>
    {%- for file in files|sort(attribute='key') -%}
    {%- set file_url = url_for('invenio_records_ui.recid_files', pid_value=pid.pid_value, filename=file.key, download=1) %}
      <tr>
        <td>
          <a class="filename" href="{{file_url}}">{{ file.key }}</a>
          <br/><small class="text-muted nowrap">{{file.checksum}} <i class="fa fa-question-circle text-muted" data-toggle="tooltip" tooltip data-placement="top" title="{{_('This is the file fingerprint (MD5 checksum), which can be used to verify the file integrity.')}}"></i></small>
        </td>
        <td class="nowrap">{{ file.size|filesizeformat }}</td>
        <td class="nowrap"><span class="pull-right">{% if file.type is previewable %}<button class="btn preview-link btn-xs btn-default" data-filename="{{file.key}}"><i class="fa fa-eye"></i> {{_("Preview")}}</button> {% endif %}<a class="btn btn-xs btn-default" href="{{file_url}}"><i class="fa fa-download"></i> {{_("Download")}}</a></span></td>
      </tr>
    {%- endfor -%}
    </tbody>
    </table>
   </div> 
  {%- endif %}
  {%- if not current_user|has_record_perm(record, 'read-files') and record.access_right in ['embargoed', 'restricted'] %}
    {%- if record.access_conditions %}
    <div class="panel-body">
    <hr/>
    {{record.access_conditions|safe}}
    <hr/>
    </div>
    {%- endif %}
    <div class="panel-body" align="center">
      <a class="btn btn-primary" href="{{access_request_url}}"><i class="fa fa-edit"></i> Request access...</a>
    </div>
  {%- endif %}
  </div>
</div>
{%- endif %}
