{#
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}
{%- from "invenio_pidrelations/macros/pid_versions.html" import pid_versions_dropdown -%}
  <dl>
  {%- if record.publication_date %}
    <dt>{{_('Publication date')}}:</dt>
    <dd>{{ record.publication_date|from_isodate|dateformat(format='long') }}</dd>
  {%- endif %}

  {%- if embargo_date is embargoed(record.accessright) %}
    <dt>{{_('Embargoed')}}:</dt>
    <dd>
      {% trans open_access_label=accessright_label('open'), embargo_date=embargo_date|dateformat('long') %}Files available as {{open_access_label}} after {{embargo_date}}.{% endtrans %}
    </dd>
  {%- endif %}

  {%- if record.doi %}
    {%- set is_local_doi = "doi" in record and (record.doi|doi_locally_managed) %}
    <dt>{{_('DOI')}}:</dt>
    <dd>
      <span class="get-badge" data-toggle="toolt  ip" data-placement="bottom"
            title="Get the DOI badge!">
        <img data-toggle="modal" data-target="[data-modal='{{ record.doi }}']"
              src="{{ url_for('invenio_formatter_badges.badge', title='DOI', value=record.doi, ext='svg') }}" alt="{{ record.doi }}">
        </img>
      </span>
      <div class="modal fade badge-modal" data-modal="{{ record.doi }}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h4>Rodare DOI Badge</h4>
              {% from "invenio_formatter/macros/badges.html" import badges_formats_list %}
              {{ badges_formats_list(url_for('invenio_formatter_badges.badge', title='DOI', value=record.doi, ext='svg', _external=True, _scheme='https'), record.doi|pid_url(scheme='doi')) }}
            </div>
          </div>
        </div>
      </div>
    </dd>
  {%- endif %}
  {%- if record.imprint and record.imprint.isbn %}
    <dt>{{_('ISBN')}}:</dt>
    <dd>{{ record.imprint.isbn }}</dd>
  {%- endif %}

  {%- if record.keywords %}
    <dt>{{_('Keyword(s)')}}:</dt>
    <dd>
    {%- for keyword in record.keywords %}
      {% set q = {"keywords": keyword}|make_query %}
      <a class="label-link" href="{{url_for('invenio_search_ui.search', q=q)}}">
        <span class="label label-default">{{keyword}}</span>
      </a>
    {%- endfor %}
    </dd>
  {%- endif %}

  {%- if record.subjects %}
    <dt>{{_('Subject(s)')}}:</dt>
    <dd>
    {%- for subject in record.subjects %}
      {%- set q = {"subject.term": subject.term}|make_query %}
      {%- set subject_url = subject.identifier|pid_url(scheme=subject.scheme) %}
      <a class="label-link" href="{{url_for('invenio_search_ui.search', q=q)}}">
        <div class="label label-default">
          {{subject.term}}
          <a class="label-external-link" href="{{subject_url}}">
            <i data-toggle="tooltip" data-title="{{subject.identifier}}" class="fa fa-fw fa-external-link"></i>
          </a>
        </div>
      </a>
    {%- endfor %}
    </dd>
  {%- endif %}

  {% with i=record.get('imprint'), p=record.get('part_of') %}
  {%- if i and not p %}
    <dt>{{_('Imprint')}}:</dt>
    <dd>
      {{i.publisher}}{% if i.place %}, {{i.place}}{%- endif %}{% if i.isbn %} ({{i.isbn}}){%- endif %}.
    </dd>
  {%- elif p and p.title %}
    <dt>{{_('Published in')}}:</dt>
    <dd>
        {{p.title}}{% if i.publisher %}, {{i.publisher}}{%- endif %}{% if i.place %}, {{i.place}}{%- endif %}{% if p.pages %}, pp. {{p.pages}}{%- endif %}{% if i.isbn %} ({{i.isbn}}){%- endif %}.
    </dd>
  {%- endif %}
  {%- endwith %}

  {%- if record.journal %}
  {% with j=record.journal %}
    {% if j.title %}
    <dt>{{_('Published in')}}:</dt>
    <dd>
      {{j.title}}:{% if j.volume %} {{j.volume}}{% endif%}{% if j.year %} ({{j.year}}){% endif %}{% if j.number %} no. {{j.number}},{% endif %}{% if j.pages %} pp. {{j.pages}}{% endif %}.
    </dd>
    {% endif %}
  {%- endwith %}
  {%- endif %}

  {%- if resolved_record.grants %}
    <dt>{{_('Grants')}}:</dt>
    <dd>
      {%- for group in resolved_record.grants|groupby('funder.name') %}
        <u>{{group.grouper}}:</u><br />
        <ul>
        {%- for grant in group.list %}
          <li>{% if grant.url or grant.identifiers.purl %}<a href="{{grant.url or grant.identifiers.purl}}">{% endif %}
          {% if grant.acronym %}{{grant.acronym}} - {% endif %}{{grant.title}}{% if grant.code %} ({{grant.code}}){% endif %} {% if not loop.last %}<br />{% endif %}
          {% if grant.url or grant.identifiers.purl %}</a>{% endif %}</li>
        {%- endfor %}
        </ul>
      {%- endfor %}
    </dd>
  {%- endif %}

  {%- if record.thesis and record.thesis.university %}
    <dt>{{ _('Awarding University') }}:</dt>
    <dd>{{record.thesis.university}}</dd>
  {%- endif %}

  {%- if record.meeting %}
    {%- set m = record.meeting%}
    {%- set m_title = m|meeting_title %}
    <dt>{{ _('Meeting') }}:</dt>
    <dd>
      {%- if m.url %}
      <a href="{{m.url}}"><i class="fa fa-external-link"></i> {{m_title}}</a>
      {%- else %}
      {{m_title}}
      {%- endif%}
      {%- if m.place %}, {{m.place}} {%- endif %}
      {%- if m.dates %}, {{m.dates}} {%- endif %}
      {% if m.session %}(Session {{m.session}} {% if m.session_part %}, Part {{m.session_part}}{%- endif %}){%- endif %}
    </dd>
    {%- if m.url and not m_title %}
      <dd><a href="{{m.url}}"><i class="fa fa-external-link"></i> {{_('Conference website')}}</a></dd>
    {%- endif %}
  {%- endif %}

  {%- for group in record.related_identifiers|groupby('relation') %}
    {%- if loop.first %}
    <dt>{{ _('Related identifiers') }}:</dt>
    {%- endif %}
    <dd>{{group.grouper|relation_title}}:<br />
    {%- for related_id in group.list %}
      {%- set related_url = related_id.identifier|pid_url(scheme=related_id.scheme) %}
      {%- if related_url %}
      <a href="{{related_url}}">{{related_id.identifier}}</a>{%- if not loop.last %}, {% endif %}
      {%- else %}
      <i>{{related_id.identifier}}</i> ({{related_id.scheme|upper}}){%- if not loop.last %}, {% endif %}
      {%- endif %}
    {%- endfor %}
    </dd>
  {%- endfor %}

  {%- if record.alternate_identifiers %}
    <dt>{{ _('Alternate identifiers') }}:</dt>
    <dd>
    {%- for alt_id in record.alternate_identifiers %}
      {%- set alt_url = alt_id.identifier|pid_url(scheme=alt_id.scheme) %}
      {%- if alt_url %}
        <a href="{{alt_url}}">{{alt_id.identifier}}</a>
      {%- else %}
        <i>{{alt_id.identifier}}</i> ({{alt_id.scheme|upper}})
      {%- endif %}
      {%- if not loop.last %}, {% endif %}
    {%- endfor %}
    </dd>
  {%- endif %}

  {%- if all_accepted_comms %}
    <dt>{{ _('Communities') }}:</dt>
    <dd>
      <ul class="list-unstyled">
      {%- for c in all_accepted_comms %}
        <li><a href="{{url_for('invenio_communities.detail', community_id=c.id)}}">{{c.title}}</a></li>
      {%- endfor %}
      </ul>
    </dd>

  {%- endif %}

  {%- if resolved_record.license %}
    <dt>{{_('License (for files)')}}:</dt>
    <dd><a rel="license" href="{{resolved_record.license.url}}"><i class="fa fa-external-link"></i> {{resolved_record.license.title}}</a></dd>
  {%- endif %}

  {%- set userprofile = record.owner.id|userprofile if record.owner and record.owner.id else None %}
  {%- if userprofile %}
    <dt>{{_('Uploaded by')}}:</dt>
    <dd>
      {{ userprofile.displayname }}
      {%- if record.get('creation_date') %}
        {%- trans upload_date=record.get('creation_date')|from_isodatetime|dateformat('long') %}
          (on {{upload_date}})
        {%- endtrans %}
      {%- endif %}
    </dd>
    {% elif record.get('creation_date') %}
    <dt>{{_('Uploaded on')}}:</dt>
    <dd>{{ record.get('creation_date')|from_isodatetime|dateformat('long') }}</dd>
  {%- endif %}
  </dl>
