{#
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}

{%- set communities_in = record|zenodo_community_branding_links %}
{%- set published_in = record|zenodo_related_links(all_pending_comms + all_accepted_comms) %}

{%- if communities_in or published_in %}
<div class="well metadata">
  {% if communities_in %}
    <small class="text-muted">{{_('Part of')}}</small>
    {%- for comm_id, comm_img in communities_in %}
      <a href="{{url_for('invenio_communities.about', community_id=comm_id)}}"><img src="{{ comm_img }}" class="img-thumbnail" width="100%" /></a>
    {% endfor %}
  {% endif %}
  {%- for item in published_in %}
    <small class="text-muted">{{item.text}}</small>
    <a href="{{item.link}}"><img src="{{ url_for('static', filename=item.image) }}" class="img-thumbnail" width="100%" /></a>
  {%- endfor %}
</div>
{%- endif %}
