{#
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}
{%- if record.references -%}
<div class="panel panel-default" id="references">
  <div class="panel-heading">
    <a class="panel-toggle collapsed" data-toggle="collapse" href="#collapseReferences">
      {{ _("References") }}
      <span class="pull-right show-on-collapsed"><i class="fa fa-chevron-right"></i></span>
      <span class="pull-right hide-on-collapsed"><i class="fa fa-chevron-down"></i></span>
    </a>
  </div>
  <div class="collapse" id="collapseReferences">
    <div class="panel-body">
      <ul>
        {%- for reference in record.references|sort(attribute='raw_reference') -%}
          <li>{{ reference.raw_reference }}</li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
{%- endif %}
