{#
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}
  <h4>{{_('Cite as')}}</h4>
  <div id='invenio-csl'>
    {% set citation_result = record|citation(pid, style='apa') %}
    <invenio-csl
      {%- if citation_result %}
        ng-init="vm.citationResult = '{{citation_result}}'"
      {%- else %}
        ng-init="vm.error = '{{_('Your record could not be processed by the citation formatter')}}'"
      {%- endif %}
    >
      <invenio-csl-citeproc
       endpoint="{{ config.CSL_RECORDS_API_ENDPOINT ~ pid.pid_value }}"
       template="{{ url_for('static', filename=config.CSL_JSTEMPLATE_CITEPROC) }}"></invenio-csl-citeproc>
      <invenio-csl-error
       template="{{ url_for('static', filename=config.CSL_JSTEMPLATE_ERROR) }}"></invenio-csl-error>
      <invenio-csl-loading
       template="{{ url_for('static', filename=config.CSL_JSTEMPLATE_LOADING) }}"></invenio-csl-loading>
      <invenio-csl-typeahead
       lazy="true"
       placeholder="Start typing a citation style..."
       remote="{{ config.CSL_STYLES_API_ENDPOINT }}"
       template="{{ url_for('static', filename=config.CSL_JSTEMPLATE_TYPEAHEAD) }}"
       item-template="{{ url_for('static', filename=config.CSL_JSTEMPLATE_LIST_ITEM) }}">
      </invenio-csl-typeahead>
    </invenio-csl>
  </div>
  {#- NOTE: Angular initialization in zenodo_records/record_detail.html #}
