.deposit-actions {
    padding: 10px 15px;

    ul.list-inline {
        margin: 0;

        li {
            padding-right: 0;
        }
    }
}

.deposit-panel.dragover {
    border-color: darken(#f00, 20%);
}

.deposit-panel {
    margin-bottom: 2px;

    .tooltip-wrapper {
        display: inline-block;

        .btn[disabled] {
            pointer-events: none;
        }

        &.disabled {
            cursor: not-allowed;
        }
    }

    .jumbotron {
        background-color: transparent;
    }

    .file-upload {
        .list-group-item {
            border: 0;
        }
        .jumbotron {
            padding-top: 30px;
            padding-bottom: 30px;

            h4 {
                margin-top: 20px;
                margin-bottom: 5px;
            }

            h1, h2 {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        .rmlink {
            cursor: pointer !important;
        }
    }

    .active {
        font-weight: bold;
        .glyphicon {
            color: $brand-success;
        }
    }

    .field-required:after {
        content: " *";
        color: red;
    }

    .has-feedback .form-control-feedback {
        right: 30px;
    }

    .help-block {
        font-size: 0.9em;
    }

    .panel-heading {
        cursor: pointer;

        .fieldset-hint {
            padding-right: 10px;
        }

        a {
            text-decoration: none;
        }
    }

    .panel {
      margin-bottom: 10px;
    }


    .schema-form-datepicker {
        .datepicker.dropdown-menu {
          width: 250px;
          height: 270px;
          button {
            outline: none;
            border: 0px;
          }
          tbody {
            height: 180px;
          }
          tbody button {
            padding: 6px;
          }
          &.datepicker-mode-1, &.datepicker-mode-2 {
            tbody button {
              height: 65px;
            }
          }
        }
    }


    .cke {
        border: 0;
        box-shadow: none;

        .cke_inner {
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            padding: 1px;
        }
    }


    .schema-form-uiselect {

        .form-group {
            margin-left: 0;

        }
        .caret {
            display: none;
        }

        input.ui-select-search {
            width: 100% !important;
        }

        .ui-select-placeholder, .ui-select-match-text {
          width: 95%;
          overflow: hidden;
          text-overflow: ellipsis;
          position: absolute;
        }
    }


    .close-container.clear-form {
        height: 30px;
    }


    .schema-form-array {
        ol {
            margin-left: 0;
            padding-left: 0;
            list-style: none;

            li {
                padding-top: 5px;
            }
        }
    }

    .deposit-inline {
        padding-bottom: 0;
        margin-bottom: -10px;
        padding-top: 15px;

        .sort-handle {
            cursor: move;
            margin-right: 10px;
        }

        .schema-form-section {
            display: flex;
            flex-direction: row;

            sf-decorator {
                flex: auto;

                & > div {
                    margin-right: 0;
                    margin-top: -5px;
                }
            }
        }
    }

    a.add-button {
        text-decoration: none;
        cursor: pointer;
    }

    .resource-type-field {
        li {
            padding-left: 20px;
            padding-right: 20px;

            label:hover {
                color: $brand-primary;
            }
        }

        span {
          font-weight: normal;
        }
    }

    .orcid-field {
        padding-left: 32px;
        background-size: 18px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position-y: 7px;
        background-position-x: 7px;
        background-image: url("/static/img/orcid.svg");
    }

    .form-grant-select {
        .funder-field {
            width: 40%;
        }
        .grant-field {
            width: 60%;

            .grant-choice-body {
                padding-top: 8px;
            }
        }
        .ui-select-choices {
            max-height: 350px;
            .ui-select-choices-row > a {
                white-space: normal;
            }
        }
    }

    .form-communities {
        .ui-select-choices {
            max-height: 250px;

            .ui-select-choices-row {
                & > a:hover {
                    background: #e5e5e5;
                }

                &.active > a:hover {
                    background: #428bca;
                }
            }
        }

        .ui-select-match .caret {
            display: none;
        }

        input.ui-select-search {
            width: 100% !important;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 40px;
        }
    }

    .community-results-item {
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom:10px;
        height: 60px;
        white-space: normal;
        word-wrap: break-word;

        .community-logo {
            margin: 10px;
            text-align: center;

            img {
                max-height: 50px;
                mix-blend-mode: multiply;
            }
        }

        img.openaire-logo {
            height: 15px;
            margin: 0 5px 5px;
        }
    }

    .communities-list {
        padding-top: 15px;

        .communities-list-item {
            padding: 0px 10px 10px;

            .communities-card {
                height: 170px;
                padding: 10px;
            }

            .community-logo {
                padding: 10px;
                height: 80px;
                text-align: center;

                img {
                    max-height: 60px;
                    max-width: 120px;
                }
            }

            .communities-title {
                text-align: center;
            }
        }
    }
}

.modal-backdrop {
    opacity: .5;
}

.modal.center .modal-dialog {
    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 320px;
    max-width: 630px;
    width: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}
