// Copyright (C) 2017-2018 HZDR
//
// This file is part of Rodare.
//
// Rodare is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// Rodare is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Rodare.  If not, see <http://www.gnu.org/licenses/>.

$footer-height: 235px;
$footer-height-sm: 340px;
$footer-height-xs: 370px;
$footer-background-color1: #2372ad;
$footer-background-color2: #005aa0; //lighten($footer-background-color1, 4%);
$footer-text-color: lighten($footer-background-color1, 50%);
$footer-heading-text-color: #fff;

html {
  //@media(min-width: $screen-md-min) {
    position: relative;
    min-height: 100%;
  //}
}

body {
  @media(min-width: $screen-md-min) {
    margin-bottom: $footer-height;
  }
  @media(max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
    margin-bottom: $footer-height-sm;
  }
  @media(max-width: $screen-xs-max) {
    margin-bottom: $footer-height-xs;
  }

  .body-container > .row {
    margin-bottom: 20px;
  }
}

.footer {
  @media(min-width: $screen-md-min) {
    height: $footer-height;
  }
  @media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
    height: $footer-height-sm;
  }
  @media(max-width: $screen-xs-max) {
    height: $footer-height-xs;
  }
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $footer-background-color2;
  color: $footer-text-color;

  a {
    color: $footer-heading-text-color;
  }
}

.footer > .menu-wrapper {
  background-color: $footer-background-color1;
  color: darken($footer-background-color1, 40%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  a {
    color: $footer-text-color;
  }

  .container {
    padding-bottom: 20px;
  }
}

.footer .row {
  padding-top: 15px;
}

.footer-menu {
  h5 {
    font-weight: 400;
    color: $footer-heading-text-color;
  }
}
