// Copyright (C) 2017-2018 HZDR
//
// This file is part of Rodare.
//
// Rodare is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// Rodare is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Rodare.  If not, see <http://www.gnu.org/licenses/>.

.record-detail .col-right .btn-block {
  margin-bottom: 10px;
}


.well {
  word-wrap: break-word;

  .pid-versions-dropdown {

    // Dropdown Scrollbar
    .dropdown-menu {
      height: auto;
      max-height: 200px;
      overflow-y: auto;
    }

    .dropdown-head {
      color: black;
      font-weight: 500;
    }

    .dropdown-item.current a {
      font-weight: bold;
    }
  }

  dl {
    margin-bottom: 0;
  }
  dd {
    padding-left: 10px;
    margin-bottom: 4px;

    .label {
      display: inline-block;
      margin-top: 2px;
      line-height: inherit;
      text-align: left;
      white-space: normal;

    }

    a.label-link {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #fff;
        text-decoration: none;
      }

    }

    a.label-external-link {
      color: #fff;

      &:hover {
        color: $brand-primary;
      }
    }
  }
}

.inline-orcid {
    height: $font-size-base;
}

.preview-iframe {
    border: none
}

#files {
    .table {
        margin-bottom: 0px;
    }
}

#files a.filename {
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: block;
}

.record-elem {
    h4 {
        a {
            color: black;
        }
        a:hover {
            color: #777;
        }
    }
    p {
        a {
            color: black;
        }
        a:hover {
            color: #777;
            text-decoration: none;
        }
    }
}

.get-badge {
    cursor: pointer;
}

#invenio-csl {
  .twitter-typeahead .tt-menu {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
  }

  .twitter-typeahead .tt-suggestion {
    white-space: normal;
  }

  .empty-results {
    padding-left: 10px;
    margin-bottom: 0px;
  }
}

.citationBadge {
  background-color: #777777 !important;
}

.citationsPagination {
    margin: 0;
    margin-bottom: 15px;
}

.stats-box {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;

  table.stats-table {
    td:nth-child(1) {
      text-align: left;
    }
  }

  #toggle-stats {
    margin-top: 10px
  }

  #collapse-stats {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 12px;
  }

  .stats-data {
    font-size: 36px;
  }
}
