// Copyright (C) 2017-2018 HZDR
//
// This file is part of Rodare.
//
// Rodare is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// Rodare is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Rodare.  If not, see <http://www.gnu.org/licenses/>.

body {
  font-weight: $font-weight;
}

.text-white {
  color: $text-white;

  a,
  a:focus,
  a:hover {
    color: $text-white;
  }
}

a.text-white,
a.text-white:focus,
a.text-white:hover {
  color: $text-white;
}

h4, h5 {
    font-weight: $headings45-font-weight;
}

.input-group-btn .btn {
    padding-bottom: 7px;
}
