// Copyright (C) 2017-2018 HZDR
//
// This file is part of Rodare.
//
// Rodare is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// Rodare is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Rodare.  If not, see <http://www.gnu.org/licenses/>.

$btn-font-weight: 300;

$color1-gradient: #2372ad; //lighten(@color1, 15%);
$color1: #005aa0;
$color2: #6690c1;
$color3: #8CB423;
$color4: #CF6800;
$color5: #FA8B60;
$color6: #f5f5f5;

$cover-panel-padding: 40px;

$font-family-sans-serif:  Roboto, sans-serif;
$font-weight: 300;

$headings-font-weight: $font-weight;
$headings45-font-weight: 400;

$navbar-brand-padding-vertical: 20px;
$navbar-default-bg: $color1;
$navbar-default-brand-color: #fff;
$navbar-default-link-color: lighten($color1, 60%);
$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg: transparentize(#fff, 0.9);
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: transparentize(#fff, 0.8);
$navbar-height: 96px;

$text-white: #fff;

$brand-font-family: $font-family-sans-serif;
$brand-font-size: 40px;
$brand-font-weight: 400;
$brand-primary: #005aa0;// lighten($color2, 4%);
$brand-info: #2372ad; //lighten($brand-primary, 10%);
