<div align="center">
    <h1>Contact</h1>
    <hr>
    <i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp
    <a href="{{url_for('zenodo_support.support')}}">Send a message</a> using the support form.
    <hr>
    <h3>Address</h3> Helmholtz-Zentrum Dresden - Rossendorf e. V.
    <br> Bautzner Landstraße 400
    <br> 01328 Dresden
    <br> Germany
    <br>
    <br>
    <a href="https://www.hzdr.de">https://www.hzdr.de</a>
    <hr>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0"
        marginwidth="0" src="//www.openstreetmap.org/export/embed.html?bbox=13.938045501708986%2C51.054006919823124%2C13.966369628906252%2C51.06819414941667&amp;layer=mapnik"
        style="border: 1px solid black"></iframe>
    <br/>
    <small>
        <a href="http://www.openstreetmap.org/#map=16/51.0611/13.9522">Größere Karte anzeigen</a>
    </small>
</div>
