<div class="container body-container">
    <h1>FAQ - Frequently Asked Questions</h1>
    <div class="row">
        <div class="col-md-6">
            <a name="general" href="#general">
                <h2>General</h2>
            </a>
            <p>
                <strong>Can I change files in already published uploads?</strong>
            </p>
            <p> Once your record has been published, the files in the record can no longer
                be changed.
            </p>
            <p>
                <strong>Do I need to register for Rodare?</strong>
            </p>
            <p>No, all HZDR employees can access Rodare using their existing HZDR account.
                Once you click
                <em>Log in with HZDR</em> you will be redirected to the HZDR identity
                provider. There you need to authorize Rodare to access your user
                information. Username, email and your full name will be transfered.</p>
            <p>
                <a name="licensing" href="#licensing">
                    <strong>Which license should I chose?</strong>
                </a>
            </p>
            <p> For open access or embargoed records you need to select a suitable license.
                We suggest the usage of a Creative Commons license for your dataset.
                Use the
                <a href="https://creativecommons.org/choose/">License Choser</a> to get more information about Creative Commons
                licenses. The HZDR approved licenses for research data are:
                <ul>
                    <li>
                        <a href="https://creativecommons.org/licenses/by/4.0/">Attribution 4.0 International (CC-BY-4.0)</a>
                    </li>
                    <li>
                        <a href="https://creativecommons.org/licenses/by-nc/4.0/">Attribution-NonCommercial 4.0 International (CC-BY-NC-4.0)</a>
                    </li>
                </ul> Those licenses should not be used for software. For OpenSource software
                different licenses are commonly used, e.g.
                <a href="https://opensource.org/licenses/GPL-3.0">GNU GPLv3</a>,
                <a href="https://opensource.org/licenses/MIT">MIT License</a> or
                <a href="https://opensource.org/licenses/Apache-2.0">Apache License 2.0</a>. The HZDR approved and suggested licenses
                for OpenSource software are:
                <ul>
                    <li>
                        <a href="https://choosealicense.com/licenses/gpl-3.0/">GNU General Public License v3.0</a>
                    </li>
                    <li>
                        <a href="https://choosealicense.com/licenses/lgpl-3.0/">GNU Lesser General Public License v3.0</a>
                    </li>
                    <li>
                        <a href='https://choosealicense.com/licenses/apache-2.0/'>Apache License 2.0</a>
                    </li>
                </ul>
                Also have a look at
                <a href="https://choosealicense.com/">Chosealicense.com</a>. It is a good start to learn more about licensing
                of OpenSource software.
            </p>
            <p>In the upload form just start typing
                <strong>recommended</strong> to get the list of approved licenses for software
                and data.</p>
            <p>
                <strong>Can anyone create communities?</strong>
            </p>
            <p> The HZDR institutes as well as the research topics energy, health and
                matter are available beginning with the public availability of Rodare.
                Apart from that, anybody can create his own community with his own
                curation policy. Each community has an
                <a href="https://www.openarchives.org/pmh/">OAI-PMH</a> interface for metadata harvesting. </p>
            <p>
                <strong>I want to download a very large file. What is the best way to do
                    this?
                </strong>
            </p>
            <p>We suggest the usage of a download manager which supports pausing and
                resuming when downloading files. For Windows or Mac OS there is
                <a href="https://www.freedownloadmanager.org/">Free Download Manager</a>. On Linux based system you can have a look
                at the multi-platform download manager
                <a href="http://www.ugetdm.com/">uget</a>.
            </p>
            <p>
                <strong>Where does the name Rodare come from?</strong>
            </p>
            <p>Rodare is an acronym and stands for
                <b>Ro</b>ssendorf
                <b>Da</b>ta
                <b>Re</b>pository.</p>
        </div>
        <div class="col-md-6">
            <a name="policies" hef="#policies">
                <h2>Policies</h2>
            </a>
            <p>
                <strong>What are the file and data size limits in Rodare?</strong>
            </p>
            <p>We currently accept up to 50GB per single file and 100 GB per dataset
                (you can have multiple files and datasets); If you would like to
                upload larger files, please contact us, and we will do our best to
                help you. Please be aware that we cannot offer infinite space.</p>
            <p>
                <strong>Which type of data can I upload to Rodare?</strong>
            </p>
            <p> All research output from all fields of research at HZDR is welcome. The
                upload form allows you to chose between dataset, images, video/audio
                and software.
            </p>
            <p>
                <strong>Can I consider my data to be safe on Rodare?</strong>
            </p>
            <p> Yes, your data is stored in HZDR data centre. Both metadata and files
                are kept in multiple independent locations. Data files are backed
                up to tape on a nightly basis. </p>
            <p>
                <strong>Which restrictions do I have, if I wish to publish in Rodare?</strong>
            </p>
            <p>Before publishing your files you must make sure, that your content is
                suitable for open dissemination, and that it complies with these
                terms and applicable laws, including, but not limited to, privacy,
                data protection and intellectual property rights. </p>
        </div>
        <div class="col-md-6">
            <a name="technical" href="#technical">
                <h2>Technical</h2>
            </a>
            <p>
                <strong>How can I change the files of my published record?</strong>
            </p>
            <p>Once your record is published you are no longer able to change the uploaded
                files. To edit or add new files please create a new version. Therefore,
                visit the record's metadata landing page and click the green
                <em>New Version</em> button in the top-right corner. You will be redirected
                to a prefilled upload form. You will only be able to publish your
                new version if at least one file was updated/added.</p>
            <p>
                <strong>How can I edit the metadata of a published record?</strong>
            </p>
            <p>To edit the metadata of your published record visit the record's landing
                page and click the orange
                <em>Edit</em> button in the top-right corner of the page. You will be
                redirected to the upload form. There you can edit almost all of the
                record's metadata. Once you are done, click
                <em>Save</em> and then
                <em>Publish</em> afterwards. </p>
                <p>
                        <strong>I want to get access to a dataset with embargoed or restricted access, how can I do that?</strong>
                    </p>
                <p>
                    Visit the landing page of the record you want to get access to. Click the blue
                    <code>Request Access...</code> button and enter the required information.
                    <ul>
                        <li>Ensure that you fulfil the conditions under which the owner grants access
                            to the upload.</li>
                        <li>Fill in the form including a proper justification.</li>
                        <li>You will receive an email to confirm your request.</li>
                        <li>You will receive an email once the owner either grants or denies your request.
                            If you are granted access this email contains a secret link you can use
                            to access the files.</li>
                    </ul>
                </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <a name="robis" href="#robis">
            <h2>HZDR publication repository integration</h2>
        </a>
        <div class="col-md-6">
            <p>
                <strong>How do I register my entry in the HZDR publication repository?</strong>
            </p>
            <p>The most simple way is to create a new record in Rodare. Just click the
                <em>Upload</em> link in the header, and then the green
                <em>New upload</em> button in the top-right corner. Upload your files
                and enter the required metadata properly. Once you are done click
                <em>Save</em> and then the blue button
                <em>Register in HZDR publication repository</em> is active. Click, and
                then you are redirected to the HZDR publication repository. Just
                follow the wizard there. Finally, you can return to your Rodare record.
                You can now publish your record, using the blue
                <em>Publish</em> button in the top-right corner.</p>
            <p>
                <strong>Do I need to enter information twice?</strong>
            </p>
            <p>No, you do not need to enter information twice. The systems synchronize
                automatically. All information you enter or change in Rodare will
                automatically be transferred to the HZDR publication repository.</p>
        </div>
        <div class="col-md-6">
            <p>
                <strong>What happens if I create a new version of my record?</strong>
            </p>
            <p>The record in the HZDR publication repository always resolves to the
                latest published version in Rodare. Updated metadata is automatically
                transfered to the HZDR publication repository in a background job.
                If you publish a new version of a record you will not be redirected
                to the HZDR website again.</p>
            <p>
                <strong>Why does my record need to be registered in the HZDR publication
                    repository (formerly known as ROBIS)?</strong>
            </p>
            <p>The HZDR publications repository is the complete collection of all publications
                at HZDR. No matter where the content is published. Furthermore, additional
                useful information, such as internal project affiliation can be collected.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <a name="versioning" href="#versioning">
            <h2>DOI versioning</h2>
        </a>
        <div class="col-md-6">
            <p>
                <strong>What is DOI versioning?</strong>
            </p>
            <p>DOI versioning allows you to
                <ul>
                    <li>add, edit or update files after they have been published.</li>
                    <li>cite a specific version of a record.</li>
                    <li>cite all version of a record.</li>
                </ul>
            </p>
            <p>
                <strong>When should I create a new version?</strong>
            </p>
            <p>You should create a new version if you wish to add, edit or update files
                of your record after it has been published.</p>
            <p>
                <strong>How does DOI versioning work?</strong>
            </p>
            <p>The first time you publish a record in Rodare, two DOIs will be registered:
                <ul>
                    <li>one DOI representing the
                        <strong>specific version</strong> of your record.</li>
                    <li>another DOI representing
                        <strong>all versions</strong> of your record.</li>
                </ul>
                Afterwards, Rodare registers one DOI for every new version of your upload.
            </p>
            <p>Let us demonstrate this by an example of a software package. The software
                has two releases (v1.0 and v1.1) on Rodare. The following DOIs would
                have been registered:
                <ul>
                    <li>v1.0 (specific version): 10.14278/rodare.100</li>
                    <li>v1.1 (specific version): 10.14278/rodare.152</li>
                    <li>Concept (all versions): 10.14278/rodare.99</li>
                </ul>
                The first two DOIs represent the specific versions of the software, the third DOI
                represents all the versions of the given Rodare entry. The DOI representing
                a specific version is called a
                <strong>Version DOI</strong>, the DOI representing all versions is called
                <strong>Concept DOI</strong>. Technically, both are just normal DOIs. The
                Concept DOI currently resolves to the latest version of your record.
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <strong>Which DOI should I use in citations?</strong>
            </p>
            <p>You should usually use the DOI for the
                <strong>specific version</strong> of your record. Other researchers whish
                to be able to properly reproduce your research output and therefore
                need access to the
                <strong>exact</strong> research artifacts. When creating citations Rodare
                always uses the DOI for the specific version.
                <p>The Concept DOI can be used in situations when you wish to link to
                    an evolving resarch artifact. You can e.g. add a badge to your
                    GitHub/GitLab repository linking to the latest version of your
                    record in Rodare.</p>
            </p>
            <p>
                <strong>I only want to change the title of my upload, do I need to create
                    a new version?</strong>
            </p>
            <p>
                No, you do not need to create a new version. You still can edit the metadata of your
                published record. You should only create a new version if you need
                to update the files of your record.
            </p>
            <p>
                <strong>Are the files duplicated for every new version of a record?</strong>
            </p>
            <p>No, they are not. If you add a 100kB README file to your 100 GB dataset,
                only the additional 100kB are stored on disk. The underlying storage
                system is efficiently handled by the used Invenio 3 library framework.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <a name="backgroundupload" href="#backgroundupload">
            <h2>Background upload</h2>
        </a>
        <div class="col-md-6">
            <p>
                <strong>What is meant by background upload?</strong>
            </p>
            <p>Uploading files via web browser is a well-known feature from many services,
                such as Dropbox, Google, etc. Rodare also provides file upload via
                your web browser. Nevertheless, many files are already located in
                the HZDR data center. Especially for large files, uploading via web
                browser can be error-prone. Furthermore, many data is already located
                on central storage systems in the HZDR date center. For those data,
                uploading via web browser is not the best option. Therefore, we implemented
                the background upload feature in Rodare. Background upload downloads
                your files via SFTP from the storage to the Rodare servers. You just
                need to wait, until you receive the notification mail.
            </p>
            <p>
                <strong>How can I upload a file via background upload?</strong>
            </p>
            <p>Visit the upload user interface. At the top of the form there is the
                upload form. Click the blue
                <em>Background upload</em> button. A window will be opened showing the
                available remote servers. If you did not connect your account with
                the remote server you are invited to connect your account. If your
                account is connected, you can browse the filesystem. Navigate to
                the file you wish to upload and click the blue
                <em>Upload file</em> button beneath the file. Once the background task
                is finished you will be notified via Email.</p>
            <p>
                <strong>I have files on a server which is not yet available via Rodare. What
                    can I do?</strong>
            </p>
            <p>If you have files which are not accessible via the available remote servers,
                please
                <a href="{{ url_for('invenio_uploadbyurl_settings.index') }}">contact us</a>. Please provide detailed information which server
                is required to be available. Also provide information about the administrator
                of the system in case we need to contact the person to properly test
                the integration.</p>
            <p>
                <strong>Does the file browser collect all elements in directories with thousands of files
                    and folders?</strong>
            </p>
            <p>
                The filebrowser will collect at most 10.000 elements within one directory. If you
                wish to upload a specific file from such a large directory, please move it first
                or zip the whole directory.
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <strong>How can I solve common errors on my own?</strong>
            </p>
            <p>
                <ul>
                    <li>
                        <strong>SSH authentication failed</strong>: this error commonly occurs
                        if the public key was removed from
                        <code>authorized_keys</code> on the remote server.
                        <ul>
                            <li>
                                <strong>Possible solution:</strong> Visit the
                                <a href="">Remote Server settings</a> page and copy the SSH
                                public key. Add it to
                                <code>~/.ssh/authorized_keys</code> and try again.
                                <a href="{{ url_for('invenio_uploadbyurl_settings.index') }}">Contact us</a> if the problem persists.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>The given file is too large:</strong> Currently, the maximum
                        file size is 50 GiB and 100 GiB per dataset by default. Please
                        <a href="{{ url_for('invenio_uploadbyurl_settings.index') }}">contact us</a> and request to increase the limits for your
                        upload. Do not forget to mention the id of your deposit.
                    </li>
                </ul>
            </p>
            <p>
                <strong>How does background upload work?</strong>
            </p>
            <p>Before you are able to use the background upload feature you need to
                connect your account with a registered SFTP capable remote server.
                Connect your account
                <a href="{{ url_for('invenio_uploadbyurl_settings.index') }}">here</a>. When connecting your account the following steps are performed:
                <ol>
                    <li>You enter your username and password for the remote server. This
                        information is used to connect to the remote server once
                        to transfer an SSH public key. The information is not stored
                        and only used for this specific purpose.</li>
                    <li>Rodare generates an SSH keypair. The SSH private key is stored
                        encrypted in the database. The public key is transfered to
                        the remote server.</li>
                    <li>Rodare is now able to use the private key for SSH key-based authentication
                        to perform SFTP operations.</li>
                </ol>
                When disconnecting your account, the private key is deleted from the database and
                the public key is removed from the remote server.</p>
            <p>
                <strong>How can I upload files from e.g. Dropbox, ...?</strong>
            </p>
            <p>
                In the top of the upload form, click the blue
                <em>Background upload</em> button. A window with two tabs will be opened. Click on the
                <em>URL</em> tab. You can now see two input fields, one for the URL and one for a filename. In the URL field enter the URL
                to the file you wish to be uploaded. By default the filename will be extracted from the last part of the URL. If you
                like to use another name, enter your filename into the second input field. Finally, click the green
                <em>Start Background Upload</em> button. Then, wait until you receive a notification mail.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <a name="github" href="#github">
            <h2>GitHub integration</h2>
        </a>
        <div class="col-md-6">
            <p>
                <strong>What do I need to do, to activate the integration for my repository on GitHub?
                </strong>
            </p>
            <p>
                <ol>
                    <li>
                        <a href="{{ url_for('invenio_github.index') }}" name="GitHub integration">Connect</a> your account first.</li>
                    <li>Register your software in ROBIS using the publication form
                        <code>Software in the HZDR data repository RODARE</code>. Remember the numeric ID you receive.
                    </li>
                    <li>Add a file called
                        <code>.rodare.json</code>in the root directory of your repository in GitHub. An example can
                        be found
                        <a href="https://github.com/tobiasfrust/test-rodare/blob/master/.rodare.json">here</a>.
                        <strong>Important:</strong> Change the value
                        <code>pub_id</code> to the ID you received from ROBIS. If you do not specify this ID,
                        the publication in RODARE will fail.
                    </li>
                    <li>
                        Once you added the
                        <code>.rodare.json</code> file in the root of your repository in GitHub
                        <a href="{{ url_for('invenio_github.index') }}" name="GitHub">toggle the switch</a> to activate preservation of your software.
                    </li>
                    <li>
                        <a href="https://help.github.com/articles/creating-releases/" name="Create GitHub Release">Create a new release</a> on GitHub. RODARE will then automatically
                        download a .zip-ball of each new release and register a DOI for you.
                    </li>
                </ol>
                If you need help, please feel free to contact us!
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <strong>My organizational repository does not show up on the GitHub list.</strong>
            </p>
            <p>
                In order to see and archive your organizational repositories on Rodare you will need
                to have "Admin" permissions on said repository, either as an Admin of the
                organization or an Admin of one of your organization's repositories. Additionally,
                please make sure that the OAuth application on GitHub is granting permissions
                not only to your personal repositories but also to your organizational ones
                - to verify that go to your GitHub OAuth settings in
                <a href="https://github.com/settings/applications">your profile</a>, and click on the Rodare application to see more details.
                Make sure that Rodare is given access (green tick) to your organization under
                "Organization access".
            </p>
            <p>
                After that, navigate to your Rodare
                <a href="{{ url_for('invenio_github.index') }}">GitHub settings page</a> and click the "Sync now" button at the top.
            </p>
        </div>
    </div>
    <div class="alert alert-info">
        <h2>Your questions is not answered yet?
            <a href="{{url_for('zenodo_support.support')}}">Contact us</a>!
        </h2>
    </div>
</div>