<div class="features-page">
    <div class="container">
        <div class="row">
            <div class="jumbotron introducing" align="center">
                <img src="{{ url_for('static', filename='img/rodare_long.svg')}}">
                <h1>Welcome to RODARE!</h1>
                <p>On April 25 the HZDR data centre initially launched the new data publication
                    platform at HZDR. We call it RODARE -
                    <b>RO</b>ssendorf
                    <b>DA</b>ta
                    <b>RE</b>pository. RODARE is based on the
                    <a href="http://invenio-software.org/">Invenio Digital Library framework</a> and powered by Open Source
                    technologies and frameworks.
                </p>
            </div>
        </div>
    </div>
    <div class="features">
        <div class="container-fluid">
            <div class="row">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1>Intuitive and structured user interface</h1>
                                <p>The clearly structured user interface of RODARE let's
                                    you easily find, view and create new uploads.
                                    The Elasticsearch powered search backend will
                                    help you find the information you need in a responsive
                                    manner. </p>
                            </div>
                            <div class="col-sm-6">
                                <div class="centered">
                                    <img src="{{url_for('static', filename='img/screenshots/search.png')}}"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="centered">
                                    <img src="{{url_for('static', filename='img/datacite.svg')}}"> </div>
                            </div>
                            <div class="col-sm-6">
                                <h1>Make your data citeable</h1>
                                <p>Each upload in RODARE will be registered in DataCite
                                    and receives a unique DOI with the HZDR specific
                                    prefix
                                    <b>10.14278</b>. Use the assigned DOI to cite your
                                    software or research data in your publications
                                    &ndash; just like you did with papers before
                                    &ndash; and improve the reproducibility of your
                                    reseach. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <h1>Ready for large input</h1>
                            <p>Using the web interface we currently have an upload limit
                                of 50GB per file and 100GB per dataset. As a storage
                                backend we currently use the GPFS storage server
                                located in the data centre of HZDR.
                                <br>
                                <small>If you need more space, please contact us.</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="centered">
                                    <i class="fa fa-eye-slash" aria-hidden="true" style="font-size:200px"></i>
                                </div>
                            </div>
                            <div class="col-sm-6"></div>
                            <h1>Multiple visibility levels</h1>
                            <p>We know that not everything can be made publicly available.
                                Therefore, RODARE supports four different levels
                                of visibility for your uploads:
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="label label-success">
                                            <i class="fa fa-unlock" aria-hidden="true"></i> Open Access</span>
                                    </li>
                                    <li>
                                        <span class="label label-warning">
                                            <i class="fa fa-ban" aria-hidden="true"></i> Embargoed Access</span>
                                    </li>
                                    <li>
                                        <span class="label label-danger">
                                            <i class="fa fa-key" aria-hidden="true"></i> Restricted Access</span>
                                    </li>
                                    <li>
                                        <span class="label label-danger">
                                            <i class="fa fa-lock" aria-hidden="true"></i> Closed Access</span>
                                    </li>
                                </ul>
                                <small>Please note that public records will receive considerably
                                    higher visibility on RODARE.</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1>Background uploads</h1>
                                <p>A lot of HZDR research data is already located on
                                    one of the storage systems in the data center.
                                    For those data there are better ways transfering
                                    them to RODARE than using an HTTP web upload.
                                    RODARE allows you to browse all the files that
                                    reside on storage systems located in the HZDR
                                    date center. They are transferred to RODARE using
                                    SFTP in a background job. You just need to connect,
                                    choose and wait.</p>
                            </div>
                            <div class="col-sm-6">
                                <div class="centered">
                                    <img src="{{url_for('static', filename='img/screenshots/background_upload.png')}}"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="centered">
                                    <i class="fa fa-repeat" aria-hidden="true" style="font-size:200px"></i>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h1>Resumable Downloads</h1>
                                <p>Files in RODARE can become quite large, but nevertheless, they must be
                                    accessible via HTTP. Especially for large files via a small-bandwidth
                                    internet connection, this task can take very long time. If a connection
                                    error occurs, the download could fail in worst-case. This is why
                                    RODARE supports resumable downloads. Use a download manager which
                                    supports download resumption and you can start, stop and restart
                                    long-taking downloads.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1>GitHub integration</h1>
                                <p>You want to cite your software in academic literature?
                                    Use RODARE to make your software citeable and
                                    link your account with your GitHub account. With
                                    the GitHub integration, RODARE will collect each
                                    release you create on GitHub and create a new
                                    record. </p>
                            </div>
                            <div class="col-sm-6">
                                <div class="centered">
                                    <img src="{{url_for('static', filename='img/screenshots/github_getstarted.png')}}"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
