<h1>Policies</h1>

<hr />
<h2>Content</h2>

<ul>
    <li>
        <strong>Scope:</strong> All research data produced at or in cooperation with HZDR
        can be published in Rodare. Content must not violate copyright, privacy or
        non-disclosure agreements. The uploader is responsible for making sure that
        his content is suitable for open dissemination.</li>
    <li>
        <strong>Eligible uploaders:</strong> Access to uploading data to Rodare requires
        an active user account at HZDR.</li>
    <li>
        <strong>File formats:</strong> There are no restrictions on suitable file formats
        - all formats are allowed. Nevertheless, the uploader should chose a format
        which is suitable for long-term preservation. Please
        <a href="https://rodare.hzdr.de/support">contact us</a> if you need help in chosing your format.</li>
    <li>
        <strong>License:</strong> The uploader must chose a license for publicly available
        records (Open or Embargoed access).</li>
    <li>
        <strong>Language:</strong> The preferred language for textual content is English.</li>
    <li>
        <strong>Size limitations:</strong> The default limit is 50 GiB per file and 100 GiB
        per dataset. The quotas can be increased on request (<a href="https://rodare.hzdr.de/support">contact us</a>)</li>
</ul>

<h2>Access and Reuse</h2>

<ul>
    <li>
        <strong>File access:</strong> Files can be made Open, Embargoed, Restricted or Closed
        access. Files can be accessed via HTTP protocol. Files marked as closed access
        can only be accessed by the uploader himself.</li>
    <li>
        <strong>Metadata access:</strong> Rodare metadata is licensed under CC0, except for
        email addresses. All metadata is exported via OAI-PMH and can be harvested.</li>
    <li>
        <strong>Use and reuse of data objects:</strong> Reuse of data objects is subject
        to the license under which the files were deposited.</li>
    <li>
        <strong>Embargo period:</strong> Uploaders may specify an embargo date. Rodare will
        restrict access until the end date of the embargo period. Files will automatically
        be publicly available after the end of the embargo period.</li>
</ul>

<h2>Longevity</h2>

<ul>
    <li>
        <strong>Fixity and authenticity:</strong> All files are stored along with the corresponding
        MD5-checksum of their content. Files are automatically and regularly checked
        against their checksum in order to assure that the file content is constant
        and unchanged.</li>
    <li>
        <strong>Replicas:</strong> Files are stored in the GPFS distributed file system available
        at HZDR data center which is backed up to tape on a nightly basis.</li>
    <li>
        <strong>Metadata preservation:</strong> Metadata is stored in a highly available
        Postgresql installation with nightly backups.</li>
    <li>
        <strong>Retention period:</strong> Items will be preserved for the lifetime of the
        data repository Rodare.</li>
    <li>
        <strong>Succession plans:</strong> In case of closure of the repository, best efforts
        will be made to integrate all content into suitable alternative institutional
        and/or subject based repositories.</li>
</ul>

<h2>Removal</h2>

<ul>
    <li>
        <strong>Revocation:</strong> Content which does not fall under the scope of the repository
        will be removed and all DOIs issued by Rodare will be revoked. Uploads which
        are identified to already have an external DOI assigned will have the Rodare
        DOI invalidated. The record&#39;s metadata will be updated by with the external
        DOI.
    </li>
    <li>
        <strong>Withdrawal:</strong> If the uploaded records must later be withdrawn, the
        reason for the withdrawal will be displayed on a tombstone page, which will
        alternatively be served in place of the original record. Withdrawal is considered
        to be a very exceptional action. Withdrawal should be requested by the original
        uploader and be fully justified. The DOI and the URL of the original object
        are retained.</li>
</ul>