<h1>FAIR principles</h1>
<p>Rodare follows the FAIR (Findable, Accessible, Interoperable and Reusable) principles
    definition which is referenced from:</p>
<p>
    <strong>Wilkinson, M. D. et al. The FAIR Guiding Principles for scientific data management
        and stewardship. Sci. Data 3:160018 doi:
        <a href="https://doi.org/10.1038/sdata.2016.18">10.1038/sdata.2016.18</a> (2016).</strong>
</p>
<h2>To be Findable:</h2>
<ul>
    <li>F1. (meta)data are assigned a globally unique and persistent identifier
        <ul>
            <li>Each published record is registered in Datacite and receives a DOI.</li>
        </ul>
    </li>
    <li>F2. data are described with rich metadata (defined by R1 below)
        <ul>
            <li>Rodare uses DataCite's metadata scheme with minimum and recommended
                terms.
            </li>
        </ul>
    </li>
    <li>F3. metadata clearly and explicitly include the identifier of the data it describes
        <ul>
            <li>The DOI is a mandatory field of each record.</li>
        </ul>
    </li>
    <li>F4. (meta)data are registered or indexed in a searchable resource
        <ul>
            <li>Metatadata of each record is indexed and searchable immediately after
                publishing directly in Rodare.</li>
        </ul>
    </li>
</ul>
<h2>To be Accessible:</h2>
<ul>
    <li>A1. (meta)data are retrievable by their identifier using a standardized communications
        protocol
        <ul>
            <li>Metadata can be harvested through the OAI-PMH interface as well as the
                public REST API</li>
        </ul>
    </li>
    <li>A1.1 the protocol is open, free, and universally implementable
        <ul>
            <li>The protocols specified below A1 are publicly available, free and
                universally implementable.</li>
        </ul>
    </li>
    <li>A1.2 the protocol allows for an authentication and authorization procedure, where
        necessary
        <ul>
            <li>Metadata is always accessible without any authentication or authorization
                procedure.
            </li>
        </ul>
    </li>
    <li>A2. metadata are accessible, even when the data are no longer available</li>
</ul>
<h2>To be Interoperable:</h2>
<ul>
    <li>I1. (meta)data use a formal, accessible, shared, and broadly applicable language
        for knowledge representation.</li>
    <li>I2. (meta)data use vocabularies that follow FAIR principles</li>
    <li>I3. (meta)data include qualified references to other (meta)data</li>
</ul>
<h2>To be Reusable:</h2>
<ul>
    <li>R1. meta(data) are richly described with a plurality of accurate and relevant
        attributes
        <ul>
            <li>R1.1. (meta)data are released with a clear and accessible data usage
                license
            </li>
            <li>R1.2. (meta)data are associated with detailed provenance</li>
        </ul>
    </li>
    <li>R1.3. (meta)data meet domain-relevant community standards</li>
</ul>
