<h1>Privacy Policy</h1>
<p>Through the following Privacy Policy we provide you with information on what personal
    data we collect when you visit our website rodare.hzdr.de and/or use our online
    services and how we utilize your data.</p>
<p>When users access our website, data such as the computer's IP address, internet
    browser used, date, time of day and duration spent on the page is logged for
    a period of seven days. In principal, this data is only analyzed when technical
    problems or attacks on our webserver arise. We do not use analysis tools.</p>
<p>We in no way save or gather additional personal data through this website (such as
    names, addresses, telephone numbers or email addresses) unless you provide us
    with such information (for example, if you get in contact with us, utilize registration
    forms for events and workshops or fill in online applications) as well as in
    the context outlined as follows. Personal data you willingly provide (also in
    regard to required fields as part of your request) is treated confidentially,
    serving only to process your request and will not be passed on to third parties
    without your consent and/or your being informed in regard to that particular
    form. The website is hosted on a HZDR internal server.</p>
<p>Users should be aware that Internet data transfer (e.g., through email communication)
    can encounter security issues. Complete protection from access by third parties
    is impossible.</p>
<h3>Cookies</h3>
<p>Our Internet site uses cookies for switching languages (language cookie). These are
    small text files that are stored on your hard drive. The next time you visit
    the homepage, your language can immediately be displayed, which will remain in
    effect for approximately five years. Depending on your browser settings, the
    cookie can be deleted when you close your browser.</p>
<p>These cookies do not retrieve stored data on your hard drive and do not affect your
    PC or your data. Cookies do not contain viruses, Trojans or other malicious applications.</p>
<p>Most browsers are set to automatically accept cookies. You can, however, deactivate
    the saving of cookies or set your browser so that you are informed when cookies
    are transmitted.</p>
<h3>Links to External Offers</h3>
<p>We link to external websites and to social media providers. The connection is set
    up in such a way that no data is passed on to the provider of external offers
    when visiting our internet pages. When clicking on a link or button, you will,
    however, be sent directly to that external offer. These sites collect and process
    your data according to their own user guidelines and/or privacy policies, which
    you can view on the respective sites. We recommend that you read these policies
    before using the pages. We have no influence on how data is handled on external
    sites. Information regarding your rights and settings for protecting your privacy
    can be found in the respective privacy policies.</p>
<h3>Google reCAPTCHA</h3>
<p>We use the reCAPTCHA service provided by Google Inc. (Google) to protect your submissions
    via internet submission forms on this site. This plugin checks if you are a person
    in order to prevent certain website functions from being (ab)used by spam bots
    (particularly comments). This plugin query includes the sending of the IP address
    and possibly other data required by Google for the Google reCAPTCHA service.
    For this purpose your input will be communicated to and used by Google. However,
    your IP address is previously truncated by Google within member states of the
    European Union or in other states which are party to the agreement on the European
    Economic Area and is, as such, anonymized. Only in exceptional cases is a full
    IP address transmitted to a Google server in the United States and truncated
    there. On behalf of the operator of this website, Google will use this information
    to evaluate your use of this service. The IP address provided by reCaptcha from
    your browser shall not be merged with any other data from Google.
    <br />This data collection is subject to the data protection regulations of Google
    (Google Inc.). For more information about Google's privacy policy, please
    visit:
    <a href="https://www.google.com/intl/de/policies/privacy/" target="_blank" rel="noopener noreferrer">https://www.google.com/intl/en/policies/privacy/</a>
    <br />By using the reCAPTCHA service, you consent to the processing of data about you
    by Google in the manner and for the purposes set out above.</p>
<p>&nbsp;</p>
<p>You can contact our data protection representative in all matters concerning data
    protection:
</p>
<p>Kristin Beyer (LL.M.)
    <br />Dresdner Institut für Datenschutz
    <br />Email: dsb[at]hzdr.de</p>
<p>Your concerns will be treated with confidentiality.</p>