<h1>Terms of Use</h1>
<hr />
<p>
    <big>Use of Rodare, both the uploading and downloading of data, denotes agreement
        with the following terms:</big>
</p>
<ol>
    <li>
        <p>
            <big>Rodare is a research data repository for the preservation and making
                available of HZDR research, educational and informational content.
                Access to Rodare content is open to all, for non-military purposes
                only.
            </big>
        </p>
    </li>
    <li>
        <p>
            <big>The uploader must ensure that their content is suitable for open dissemination,
                and that it complies with these terms and applicable laws, including,
                but not limited to, privacy, data protection and intellectual property
                rights.
            </big>
        </p>
    </li>
    <li>
        <p>
            <big>All content is provided &ldquo;as-is&rdquo;. Users of content (&ldquo;Users&rdquo;)
                must respect applicable license conditions. Download and use of content
                from Rodare does not transfer any intellectual property rights in
                the content to the User.</big>
        </p>
    </li>
    <li>
        <p>
            <big>Unless specified otherwise, Rodare metadata may be freely reused under
                the
                <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 waiver</a>. Bulk downloading of email addresses taken from Rodare
                is not allowed.</big>
        </p>
    </li>
    <li>
        <p>
            <big>These Terms of Use are subject to change by HZDR at any time and without
                notice, other than through posting the updated Terms of Use on the
                Rodare website.</big>
        </p>
    </li>
</ol>
<p>
    <small>30.11.2017</small>
</p>