{#
# Copyright (C) 2017-2018 HZDR
#
# This file is part of Rodare.
#
# Rodare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Rodare is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Rodare.  If not, see <http://www.gnu.org/licenses/>.
-#}

{% extends config.THEME_ERROR_TEMPLATE %}

{%- set title = _("Tombstone") + " | " + config.THEME_SITENAME -%}

{% block message %}
  <h1><i class="fa fa-flash"></i> {{_('Gone')}}</h1>
  <p>
  {% trans sitename=config.THEME_SITENAME %}
    The record  you are trying to access was removed from {{sitename}}. The
    metadata of the record is kept for archival purposes.
  {% endtrans %}
  </p>
  {% if record and record.removal_reason %}
  <p>
    <strong>Reason for removal:</strong> {{record.removal_reason}}
  </p>
  {% endif %}
{% endblock message %}
