{# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015, 2016 CERN.
#
# Invenio is free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Invenio is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Invenio; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA 02111-1307, USA.
#
# In applying this license, CERN does not
# waive the privileges and immunities granted to it by virtue of its status
# as an Intergovernmental Organization or submit itself to any jurisdiction.
#}
{%- extends config.ACCOUNTS_SETTINGS_TEMPLATE %}

{% from "invenio_accounts/_macros.html" import render_field, form_errors %}

{% set panel_title = _("Change password") %}
{% set panel_icon = "fa fa-key" %}

{% block settings_form %}
{%- with form = change_password_form %}
<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
<fieldset disabled="disabled">
{{form_errors(form)}}
{{form.hidden_tag()}}
<div class="form-group">
    <label class="control-label" for="password">{{_('Current password')}}</label>
    {{ render_field(form.password, autofocus=True, errormsg=False, size="") }}
</div>
<div class="form-group">
    <label class="control-label" for="new_password">{{_('New password')}}</label>
    {{ render_field(form.new_password, errormsg=False, size="") }}
</div>
<div class="form-group">
    <label class="control-label" for="new_password_confirm">{{_('Confirm new password')}}</label>
    {{ render_field(form.new_password_confirm, errormsg=False, size="") }}
</div>
<div class="form-actions">
    <button type="submit" class="btn btn-primary">{{_('Change Password')}}</button>
</div>
</fieldset>
</form>
{%- endwith %}
{% endblock settings_form %}
